<!DOCTYPE html>
<html lang="zh-CN" window-icon="this://app/images/ico.png" window-resizable window-frame="transparent">
<head>
<meta charset="utf-8" />
<title></title>

</head>
<body>
    
    <ul>
    <li>{{zhangsan}}</li>
    <li>{{lisi}}</li>
    <li>{{wangwu}}</li>
    </ul>

<div id="asdf"></div>
</body>

<script type="text/tiscript">

view.root.on("ready", function(){

try{

//var lang = {
//"lisi":"李四"
//}



//for(var l in lang) {
//    view.msgbox(#alert,lang[l] + "-" + l);
//}

$(#asdf).html = "{{zhaoliu}}";
$(#asdf).attributes["title"] = "{{tip}}";

var content = $(body).html;
        //var reg = /\{\{([A-Z][^\ }]+?)\}\}/g;
        var reg = /lisi/gmi;


content = content.replace("{{zhangsan}}","张三");
content = content.replace("{{lisi}}","李四");
content = content.replace("{{wangwu}}","王五");
content = content.replace("{{zhaoliu}}","赵六");
content = content.replace("{{tip}}","提示222111");

$(body).html = content;

//view.msgbox(#alert,content);




//var reg=new RegExp("{{(a-zA-Z0-9)}}","gmi");
//var url="{{l}}";

//方式一,最简单常用的方式
//view.msgbox(#alert,url);

//var rep=url.replace(reg,"李四");
//view.msgbox(#alert,rep);




}catch(e){
view.msgbox(#alert,e);
}

})

</script>
</html>
