<html>
<head>
  <title>关于SimUI</title>
  
  <style>
    @import "this://app/images/public.css";
    html,body{width:max-intrinsic; height:max-intrinsic; overflow:hidden;margin:0;padding:0;background:#FFF}
    #thumb{height:123px;width:480px;background-repeat:no-repeat;border-bottom:3px solid #6699ff}
    .content{padding:8dip}
    .btn{text-align:right;background:#eee;padding:8dip}
    p{font-size:10dip}
  </style>
  <script type="text/tiscript">
    include ROOTPATH + "tis/plugins/decorators.tis";
    $(#thumb).style['background-image'] = "url("+ ROOTPATH + "images/about.jpg" +")"

    $(#close).setState(Element.STATE_FOCUS);
    @click @on "#close":
    {
      view.close();
    }

     //打开网址
    self.on("click", "#link", function(evt) {
        var href = this.attributes["href"];
        Sciter.launch(href);
        return true;
    });
    </script>
</head>
<body>
<div id="thumb"></div>
<div class="content">
    <p>版本：v2.5</p>
    <p>文档：<a href="http://www.simui.net/" target="_blank" title="点击访问网站" id="link">http://www.simui.net/</a></p>
    <p>作者：frontLon</p>
    <p>ＱＱ群：851347939</p>
    <p>邮件：front_diablo@163.com</p>
</div>
<div class="btn"><button id="close">确定</button></div>
</body>
</html>