<html>
<head>
    <title></title>
    <div id="themefile"></div>
    <style>
        @import "this://app/images/public.css";
        @import "images/form.css";
        html{background:color(center-background-color)}
        body{width:*; height:max-content; overflow:hidden;margin:0;padding:0;color:color(general-text-color)}
        input{width:*;}
        .input_wrapper{padding:0 10dip 10dip 10dip;}
        h4{margin:7dip 0}
    </style>

</head>
<body>
    <div class="input_wrapper">
        <h4 id="desc">{{InputPlatformName}}</h4>
        <input type="text" id="platform_name" value="" novalue="{{InputPlatformName}}" />
    </div>
    <div class="form_bottom">
        <button class="ok" id="close-dialog" role="default-button">{{Confirm}}</button>
    </div>

    <script type="text/tiscript">
        include ROOTPATH + "js/utils.js";
        
        view.root.on("ready", function(){

            //初始化主题
            initUiTheme();

            $(#platform_name).setState(Element.STATE_FOCUS);
            view.windowCaption = CONF.Lang.AddNewPlatform;
        });
        
        //创建语言
        createLang();

        event click $(#close-dialog){ view.close( $(#platform_name).value );}
    </script>
</body>
</html>
