<html>
<head>
    <title></title>
    <style>
        @import "this://app/images/public.css";
        body{width:*; height:max-content; overflow:hidden;margin:0;padding:0;font-size:12dip}
        .input_wrapper{flow:row(label,input);}
        .submit_wrapper{padding:6dip;text-align:center;margin-top:10dip;}
        h4{margin:7dip 0}
        textarea{size:*;height:520dip;padding:5dip;border:0;overflow:scroll-indicator;}
    </style>

</head>
<body>
    <div class="input_wrapper">
        <textarea id="doc"></textarea>
        <div class="submit_wrapper">
            <div style="float:left;" id="delete"><button>{{Delete}}</button></div>
            <button style="float:right" id="update">{{Update}}</button>
        </div>
    </div>
    
    <script type="text/tiscript">
        include ROOTPATH + "tis/utils.tis";

        //创建语言
        createLang();
 
        view.root.on("ready", function(){
            view.windowCaption =  CONF.Lang.EditDoc;
            var docContent = mainView.GetGameDoc("doc",view.parameters.id);
            docContent = docContent.replace("<br>","\n");
            docContent = docContent.trim();
            $(#doc).value = docContent;
        });

        //更新文档
        event click $(#update){
            var docContent = $(#doc).value;
            if (docContent != ""){
                docContent = docContent.trim();
                mainView.SetGameDoc("doc",view.parameters.id,docContent);
                alert(CONF.Lang.UpdateSuccess);
            }else{
                alert(CONF.Lang.ContentIsNotEmpty);
            }
        }

        //删除文档
        event click $(#delete){
            var result = view.msgbox {
                type:#warning, 
                content:CONF.Lang.DeleteDocConfirm, 
                caption:CONF.Lang.DeleteDoc,
                buttons:[
                    {id:#yes,text:CONF.Lang.Delete},
                    {id:#cancel,text:CONF.Lang.Cancel,role:"default-button"}
                ]
            };
            if (result != "yes"){
                return true;
            }
            mainView.DelGameDoc("doc",view.parameters.id);
            alert(CONF.Lang.DeleteSuccess);
            view.close();
        }
    </script>
</body>
</html>
