<html>
<head>
    <title></title>
    <style>
        @import "this://app/images/public.css";
        body{width:*; height:max-content; overflow:hidden;margin:0;padding:0;font-size:12dip}
        .input_wrapper{padding:0;flow:row(label,input);}
        .submit_wrapper{padding:6dip 0;text-align:center;margin-top:10dip;}
        h4{margin:7dip 0}

        textarea{size:*;min-height:480dip;padding:5dip;border:0;overflow:scroll-indicator;}

    </style>

</head>
<body>
    <div class="input_wrapper">
        <textarea id="doc"></textarea>
        <div class="submit_wrapper">
            <button id="close-dialog">{{Confirm}}</button>
        </div>
    </div>
    
    <script type="text/tiscript">
        include ROOTPATH + "tis/utils.tis";

        //创建语言
        createLang();
 
        view.root.on("ready", function(){
            view.windowCaption =  CONF.Lang.EditDoc;
            var docContent = mainView.GetGameDoc("doc",view.parameters.id);
            docContent = docContent.replace("<br>","\n");
            docContent = docContent.trim();
            $(#doc).value = docContent;
        });

        event click $(#close-dialog){
            var docContent = $(#doc).value;
            if (docContent != ""){
                docContent = docContent.trim();
                mainView.SetGameDoc("doc",evt.attributes["rid"],docContent);
                alert(CONF.Lang.UpdateSuccess);
            }else{
                alert(CONF.Lang.ContentIsNotEmpty);
            }
        }
    </script>
</body>
</html>
