<html>
<head>
    <title></title>
    <div id="themefile"></div>
    <style>
        @import "this://app/images/public.css";
        @import "images/form.css";
        html{background:color(center-background-color);}
        body{margin:0;padding:0;}
        textarea{color:color(general-text-color);size:*;height:500dip;padding:5dip;border:0;overflow:scroll-indicator;}
    </style>

</head>
<body>
    <textarea></textarea>
    <div class="form_bottom">
        <button class="cancel" id="delete">{{Delete}}</button>
        <button class="ok" id="update">{{Update}}</button>
    </div>

    <script type="text/tiscript">
        include ROOTPATH + "tis/utils.tis";
        createLang(); //创建语言

        //初始化主题
        initUiTheme();

        view.root.on("ready", function(){
            view.windowCaption =  CONF.Lang.EditStrategy;
            var docContent = mainView.GetGameDoc("strategy",view.parameters.id);

            if(docContent != ""){
                docContent = docContent.trim();
                $(textarea).value = docContent;
            }
        });

        //更新攻略
        event click $(#update){
            var richtext = $(textarea).value;
            if (richtext != ""){
                richtext = richtext.trim();
                mainView.SetGameDoc("strategy",view.parameters.id,richtext);
                alert(CONF.Lang.UpdateSuccess);
            }else{
                alert(CONF.Lang.ContentIsNotEmpty);
            }
        }

        //删除攻略
        event click $(#delete){
            var result = view.msgbox {
                type:#warning, 
                content:CONF.Lang.DeleteStrategyConfirm, 
                caption:CONF.Lang.DeleteStrategy,
                buttons:[
                    {id:#yes,text:CONF.Lang.Delete},
                    {id:#cancel,text:CONF.Lang.Cancel,role:"default-button"}
                ]
            };
            if (result != "yes"){
                return true;
            }
            mainView.DelGameDoc("strategy",view.parameters.id);
            alert(CONF.Lang.DeleteSuccess);
            view.close();
        }
    </script>
</body>
</html>
