<html>
<head>
    <title></title>
    <div id="themefile"></div>
    <style>
        @import "this://app/images/public.css";
        @import "images/form.css";
        html{background:color(center-background-color)}
        body{color:color(general-text-color);width:*; height:max-content; overflow:hidden;margin:0;padding:0;font-size:12dip}
        .wrapper{padding:10dip;}
        h1{font-size:16dip;}
        #menu{height:400dip;width:*}
        #menu img{width:16dip;vertical-align:middle}
        #menu option{line-height:16dip;vertical-align:middle}
    </style>

</head>
<body>
    <div class="wrapper">
    <h1></h1>
        <select id="menu" type="tree">
        </select>
        <div class="form_bottom">
        <button class="ok" id="submit">{{Confirm}}</button>
    </div>

    </div>
    
    <script type="text/tiscript">
    include ROOTPATH + "tis/utils.tis";
    //创建语言
    createLang();
    view.root.on("ready", function(){

        //初始化主题
        initUiTheme();
        
        view.windowCaption =  CONF.Lang.RomMove;

        //标题
        var getjson = mainView.GetGameDetail(view.parameters.id);
        var detailObj = JSON.parse(getjson);
        $(h1).html = detailObj.Info.Name;

        //生成列表
        var lists = mainView.GetAllPlatformMenuList();
        var listObj = JSON.parse(lists);
        var create = "";
        for(var name in listObj) {
                create += "<option class='title' expanded value=''>";
                create += "<caption class='title'>"+name+"</caption>";
                for(var obj in listObj[name]) {
                    create += "<option pf='"+ obj.platform +"' value='"+obj.name+"'><img src='this://app/images/folder.png'> "+obj.name+"</option>";
                }
                create += "</option>";
        }
        $(#menu).html = create;
    });


    //确定功能
    event click $(#submit){
        
        var obj = $(#menu).select("option:current")
        
        if(obj == undefined){
            alert(CONF.Lang.NotSelectDirectory);
            return;
        }
        
        var newMenu = obj.attributes["value"];
        var newPlatform = obj.attributes["pf"];
        if(newMenu == undefined || newMenu == ""){
            alert(CONF.Lang.NotSelectDirectory);
            return;
        }

        mainView.MoveRom(view.parameters.id,newPlatform,newMenu);
        view.close(newPlatform);
    }


    </script>
</body>
</html>
