<html>
  <head>
    <title></title>
    <div id="themefile"></div>
    <style>
      @import 'this://app/images/public.css';
      @import 'this://app/images/form.css';
      html,
      body {
        overflow: scroll-indicator;
        margin: 0;
        background: color(center-background-color);
        padding: 0;
        width: 100%;
      }
      .wrapper {
        height: *;
        padding: 0 10dip;
        margin: 0;
      }

      .titlebar {
        flow: horizontal-flow;
        width: *;
        display: block;
      }
      .titlebar_left {
        width: *;
        display: block;
      }
      .titlebar_right {
        width: *;
        text-align: right;
        display: block;
      }
      .content {
        display: block;
        clear: both;
      }
      label {
        display: block;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: *;
        margin-top: 10dip;
      }
      table label {
        text-align: left;
      }
      table th {
        font-size: 12dip;
        padding: 0;
        border: 1px solid #333;
        padding: 5dip;
        width: *;
        text-align: left;
        font-weight: bold;
      }
      table td {
        font-size: 12dip;
        padding: 0;
        border: 1px solid #333;
        padding: 0 5dip;
        width: *;
        text-align: left;
      }
      table tr.checked {
        background: #444;
      }
      table tr:hover {
        background: #444;
      }
      table th:nth-child(1) {
        width: 30dip;
      }
      table td:nth-child(1) {
        width: 30dip;
      }

      table input[type='text'] {
        background: none;
        border: 0;
        width: 70dip;
        margin: 0;
      }
      table input[type='text']:hover{
        background:none
      }
      table .nosave {
        color: #fff;
      }

      .openfile{cursor:pointer;overflow:auto;}

      .pages{width:*;text-align:right}
      .pages li{display:inline-block;size:20dip;line-height:20dip;border:1px solid #555;background:#444;text-align:center;
      color:#999;margin:0 2dip;
      }
      .pages li:hover{background:#555;}
      .pages li:current{background:none;border:0;}
    </style>
  </head>
  <body>
    <tabs class="tabs" id="mytabs">
      <strip>
        <label ww="1000dip" wh="500dip" for="first" selected>资料管理</label>
        <label ww="1200dip" wh="500dip" for="second">媒体管理</label>
        <label ww="1000dip" wh="500dip" for="third">模拟器管理</label>
        <label ww="800dip" wh="700dip" for="fourth">文件管理</label>
        <label ww="600dip" wh="500dip" for="fifth">rom去重</label>
      </strip>
      <panels>
        <!-- 资料管理 -->
        <section id="first">
          <div class="wrapper">
            <div class="titlebar">
              <div class="titlebar_left">
                <select id="platform_rombase"></select>
                &nbsp;
                <select id="menu_rombase"><option id=''>请选择目录</option></select>
              </div>
              <div class="titlebar_right"></div>
            </div>
            <div class="content">
              <table id="romlist_rombase">
                <thead>
                  <tr>
                    <th>文件名</th>
                    <th>游戏名称</th>
                    <th>年份</th>
                    <th>类型</th>
                    <th>发行商</th>
                    <th>地区</th>
                    <th>汉化组</th>
                    <th>版本</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <ul class="pages" id="pages_rombase"></ul>
            </div>
          </div>
        </section>
        <!-- 媒体管理 -->
        <section id="second">
          <div class="wrapper">
            <div class="titlebar">
              <div class="titlebar_left">
                <select id="platform_media"></select>
                &nbsp;
                <select id="menu_media">
                  <option>请选择目录</option>
                </select>
              </div>
              <div class="titlebar_right"></div>
            </div>
            <div class="content">
              <table id="romlist_media">
                <thead>
                  <tr>
                    <th>文件名</th>
                    <th>游戏名称</th>
                    <th>展示图</th>
                    <th>插画</th>
                    <th>标题图</th>
                    <th>海报</th>
                    <th>包装盒</th>
                    <th>卡带图</th>
                    <th>图标</th>
                    <th>动画</th>
                    <th>背景图</th>
                    <th>游戏视频</th>
                    <th>文档</th>
                    <th>攻略</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <ul class="pages" id="pages_media"></ul>
            </div>
          </div>
        </section>
        <!-- 模拟器管理 -->
        <section id="third">
          <div class="wrapper">
            <div class="titlebar">
              <div class="titlebar_left">
                <select id="platform_sim"></select>
              </div>
              <div class="titlebar_right">
                <select>
                  <option>选择模拟器</option>
                </select>
                <select>
                  <option>解压后运行</option>
                  <option>否</option>
                  <option>是</option>
                </select>
                <button>选择Lua脚本</button>
              </div>
            </div>
            <div class="content">
              <table class="check_table">
                <thead>
                  <tr>
                    <th>选择</th>
                    <th>文件名</th>
                    <th>游戏名称</th>
                    <th>模拟器</th>
                    <th>启动参数</th>
                    <th>解压后运行</th>
                    <th>运行文件名</th>
                    <th>Lua脚本</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>dino.zip</td>
                    <td>恐龙新世纪</td>
                    <td>VirtualNes</td>
                    <td><input type="text" value="" /></td>
                    <td>否</td>
                    <td><input type="text" value="" /></td>
                    <td>fbs.lua</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!-- 文件管理 -->
        <section id="fourth">
          <div class="wrapper">
            <div class="titlebar">
              <div class="titlebar_left">
                <select id="platform_file"></select>
                &nbsp;
                <select>
                  <option>请选择目录</option>
                  <option>SFC</option>
                  <option>MD</option>
                </select>
              </div>
              <div class="titlebar_right">
                <select>
                  <option>隐藏显示</option>
                  <option>隐藏</option>
                  <option>显示</option>
                </select>
                <button>移动</button>
                <button>删除</button>
              </div>
            </div>
            <div class="content">
              <table class="check_table">
                <thead>
                  <tr>
                    <th>选择</th>
                    <th>文件名</th>
                    <th>游戏名称</th>
                    <th>目录</th>
                    <th>隐藏</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!-- rom去重 -->
        <section id="fifth">
          <div class="wrapper">
            <div class="titlebar">
              <div class="titlebar_left">
                <select id="platform_repeat"></select>
              </div>
              <div class="titlebar_right">
                <button>检测重复</button>
                <button>移动</button>
                <button>删除</button>
              </div>
            </div>
            <div class="content">
              <table class="check_table">
                <thead>
                  <tr>
                    <th>选择</th>
                    <th>文件名</th>
                    <th>游戏名称</th>
                    <th>文件大小</th>
                    <th>目录</th>
                    <th>隐藏</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                  <tr>
                    <td>
                      <label><input type="checkbox" /></label>
                    </td>
                    <td>chakji.zip</td>
                    <td>超级快打</td>
                    <td>1245K</td>
                    <td>未分类</td>
                    <td>否</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </panels>
    </tabs>

    <script type="text/tiscript">
      include ROOTPATH + "tis/plugins/tabs.tis";
      include ROOTPATH + "tis/utils.tis";
      include ROOTPATH + "tis/dialog/rom_manager.tis";

      //标题
      view.windowCaption = "rom管理";

      //初始化平台列表
      managerInit();


      /**
       * 资料编辑
      **/

      //文本框修改
      event change $(table input[type=text]) {
        this.attributes.addClass("nosave");
      }

      //切换平台 - 游戏资料
      event change $(#platform_rombase){
        managerChangeRombasePlatform(this.value);
      }
      //切换目录 - 游戏资料
      event change $(#menu_rombase){
        managerChangeRombaseMenu(this.value);
      }

      //文本框保存修改
      /*
      event keydown $(#romlist_rombase input[type=text]) (evt,input) {
        if(evt.keyCode != Event.VK_RETURN){
          return ;
        }
        managerRombaseSave(this);
      }
      */

      //分页 - 游戏资料
      event click $(#pages_rombase li){
        managerCreateRombaseByPages(this);
      }

      /**
       * 资源编辑
      **/


      //分页 - 游戏资料
      event click $(#romlist_media .openfile){
       openFile(this);
      }


      //切换平台 - 游戏资源
      event change $(#platform_media){
        managerChangeMediaPlatform(this.value);
      }

      //切换目录 - 游戏资料
      event change $(#menu_media){
        managerChangeMediaMenu(this.value);
      }

      //分页 - 游戏资料
      event click $(#pages_media li){
        managerCreateMediaByPages(this);
      }

      

      

      /**
       * 通用
      **/


      //checkbox选中
      event click $(.check_table input[type=checkbox]) {
        if(this.checked == true){
          this.checked = false;
          this.parent.parent.parent.attributes.removeClass("checked");
        }else{
          this.checked = true;
          this.parent.parent.parent.attributes.addClass("checked");
        }
      }

      //选择checkbox
      event click $(.check_table tbody tr){
        if (this.select("input[type=checkbox]").checked == true){
          this.select("input[type=checkbox]").checked = false;
          this.attributes.removeClass("checked");
        }else{
          this.select("input[type=checkbox]").checked = true;
          this.attributes.addClass("checked");
        }
      }
    </script>
  </body>
</html>
