i{background-repeat:no-repeat; background-position: center center; background-size:80%; size:100%;font-style:normal;font-style:normal;font-weight:normal;font-rendering-mode:sub-pixel;text-align:center;vertical-align:middle;font-size:16dip;lin-height:1em}
i.block{background-image:url(svg/block.svg)}
i.setting{background-image:url(svg/setting.svg)}
i.close{background-image:url(svg/close.svg)}
i.config{background-image:url(svg/config.svg)}
i.down_arrow{background-image:url(svg/down_arrow.svg)}
i.frame_center{background-image:url(svg/frame_center.svg)}
i.frame_left{background-image:url(svg/frame_left.svg)}
i.frame_right{background-image:url(svg/frame_right.svg)}
i.help{background-image:url(svg/help.svg)}
i.info{background-image:url(svg/info.svg)}
i.interface{background-image:url(svg/interface.svg)}
i.joystick{background-image:url(svg/joystick.svg)}
i.list{background-image:url(svg/list.svg)}
i.maximize{background-image:url(svg/maximize.svg)}
i.minimize{background-image:url(svg/minimize.svg)}
i.cache{background-image:url(svg/cache.svg)}
i.right{background-image:url(svg/right.svg)}
i.search{background-image:url(svg/search.svg)}
i.shortcut{background-image:url(svg/shortcut.svg)}
i.skin{background-image:url(svg/skin.svg)}
i.sort{background-image:url(svg/sort.svg)}
i.sound_off{background-image:url(svg/sound_off.svg)}
i.sound_on{background-image:url(svg/sound_on.svg)}
i.top{background-image:url(svg/top.svg)}
i.update{background-image:url(svg/update.svg)}

#loading{box-shadow:0 0 9dip #fff;position:absolute;top:50%;left:50%;width:240dip;margin:-52dip 0 0 -120dip;height:auto;background:#FFF;text-align:center;padding:24dip 0;display:none}
#loading img{display:block;margin:0 auto 9dip auto;}
.tip{width:11dip;height:11dip;line-height:11dip;display:inline-block;text-align:center!important;vertical-align:middle;background:#3399ff;border-radius:100%;color:#FFF;margin-right:3dip;font-family:iconfont;font-style:normal;font-weight:normal;font-rendering-mode:sub-pixel;}
.tip:hover{background:#67b1fb}
